@tailwind base;
@tailwind components;
@tailwind utilities;

.card-flip {
  perspective: 1000px;
}

.card-flip-inner {
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.card-flip-inner.flipped {
  transform: rotateY(180deg);
}

.card-face {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-face-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
